<%- include('partials/header') %>

  <form action="/links" method="post">
    <h1>Add Link</h1>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="Ex. Tailwindcss Docs" required />
    </div>
    <div class="mb-3">
      <label for="href" class="form-label">HREF</label>
      <input type="text" name="href" id="href" class="form-control" placeholder="Ex. https://tailwindcss.com/docs"
        required />
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">Tags</label>
      <input type="text" name="tags" id="tags" class="form-control" placeholder="Ex. css, ui, framework" />
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>

  <%- include('partials/footer') %>